
.chip-input-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  font-family: Arial, sans-serif;
}

.heading {
  color: #007bff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.chip-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
  padding: 8px 0;
  border-bottom: 2px solid #007bff;
  position: relative;
}

.chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E4E4E4;
  border-radius: 16px;
  padding: 4px 10px;
  margin: 0 8px 8px 0;
}

.chip-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.chip-name {
  margin-left: 8px;
}

.chip-remove {
  cursor: pointer;
  color: #999;
  font-size: 20px;
  margin-left: 8px;
}

.chip-input-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  background: transparent;
}

.suggestions-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.suggestion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.suggestion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.suggestion-name {
  font-weight: bold;
}

.suggestion-email {
  font-size: smaller;
  color: #555;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.chip-input-field::-webkit-input-placeholder {
  color: #999;
}

.chip-input-field::-moz-placeholder {
  color: #999;
}

.chip-input-field:-ms-input-placeholder {
  color: #999;
}

.chip-input-field::-ms-input-placeholder {
  color: #999;
}

.chip-input-field::placeholder {
  color: #999;
}


.highlight {
  background-color: yellow;
}


@media (max-width: 768px) {
  .chip-input-wrapper {
    max-width: 100%;
  }
}
